<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrowserMode" value="Webkit"/>
    <add key="HomePage" value="http://www.google.co.uk"/>
    <add key="XULRunnerPath" value="C:\XULRunner\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>